<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {background-color:lightblue;}
        p {color: black;}
    </style>
    <meta charset="UTF-8">
    <title> 安磊的毕业设计 | 信息抽取系统 </title>

</head>
<body>
    <!-- <br>用来换行
        style="background-color:lightblue;font-size:20px；font-family:Arial" 设置背景颜色、字号、字体
    -->
    <h1 style="text-align:center;">{{ name }},<br>欢迎来到安磊的毕业设计。</h1>
    <h2 style="text-align:center;">这是另外一个段落</h2>
    <p style="text-align:center;"><i>这是我的内容</i>
        <a href="http://www.baidu.com" target="_blank">链接</a>
        <!-- <target>用来决定超链接是否在新链接里打开 -->
    </p>

</body>
</html>